.items-block{
  
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 300px;
  align-items: center;
  
  justify-items: center;
  @media (max-width: 1840px) {
    grid-template-columns: repeat(4, 0.246fr);
  }
  @media (max-width: 1808px) {
    grid-template-columns: repeat(3, 0.246fr);
  }
  @media (max-width: 1540px) {
    grid-template-columns: repeat(3, 0.1fr);
  }
  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 0.35fr);
    
  }
   
    
  
}