
@import './styles/main';
*{
  padding: 0;
  margin: 0;
}
.App{
  background-color: rgba(0, 0, 0, 0.637);
  padding-bottom: 0px;
}
.container{
  margin-right: 14dvw;
  margin-left: 14dvw;
  
 
}
.wrapper__categories-sort{
  gap: 145px;
  @media (max-width: 1840px) {
    gap: 130px;
  }
  @media (max-width: 1808px) {
    gap: 60px;
  }
  
  @media (max-width: 1100px) {
    gap: 0px;
    
  }
}







  

  